* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.header {
    padding: 25px;
    height: 70px;
    background-color: rgb(136, 82, 82);
}

.header-logo {
    color: white;
    font-size: 45px;
    float: left;
}

.header-list li {
    color: white;
    font-size: 20px;
    float: right;
    padding: 30px 50px;
}

.header-list a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(151, 151, 151);
}

.main {
    position: relative;
}

.sample1 {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 40px;
    transform: translate(-50%, -200%);
    top: 50%;
    left: 50%;
    background-color: rgba(179, 158, 158, 0.55);
}

.sample2 {
    position: absolute;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 30px;
    font-family: Quicksand, sans-serif;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgba(179, 158, 158, 0.55);
}

.main img {
    width: 100%;
}

form {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 90px;
    margin-top: 50px;
    margin-left: 460px;
    margin-right: 460px;
    border: 1px solid rgb(10, 10, 10);
    background-color: rgb(214, 193, 189);
}

form h1 {
    padding-bottom: 30px;
    font-weight: lighter;
}

form p {
    padding: 10px;
    font-size: 20px;
}

.error {
    color: rgb(236, 49, 16);
    text-decoration: underline;
}

span {
    background-color: tomato;
    color: white;
    padding: 3px;
    margin-left: 5px;
}