* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.header {
    padding: 25px;
    height: 70px;
    background-color: rgb(136, 82, 82);
}

.header-logo {
    color: white;
    font-size: 45px;
    float: left;
}

.header-list li {
    color: white;
    font-size: 20px;
    float: right;
    padding: 30px 50px;
}

.main {
    position: relative;
}

.sample1 {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 40px;
    transform: translate(-50%, -200%);
    top: 50%;
    left: 50%;
    background-color: rgba(179, 158, 158, 0.55);
}

.sample2 {
    position: absolute;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 30px;
    font-family: Quicksand, sans-serif;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgba(179, 158, 158, 0.55);
}

.main img {
    width: 100%;
}